{% extends 'layout_admin.html' %}

{%block main%}
<main class="container">
    <form action="" method="post"
        style="width: 50%; background: #3d456a2e; border: 1px solid; border-radius: 10px; margin: 60px auto; padding: 30px;">
        <h3 style="margin-bottom: 30px">
            {{array.mess}}
        </h3>
        <div>
            {% if array.display==true %}
                <a href="?controller=article" class="btn btn-success" style="display: none">Quay lại trang quản lý bài viết</a>
                <input class="btn btn-danger" type="submit" name='confirm' value="Xóa">
            {% else %}
                <a href="?controller=article" class="btn btn-success" >Quay lại trang quản lý bài viết</a>
                <input class="btn btn-danger" type="submit" name='confirm' value="Xóa" style="display: none;">
            {% endif %}
                <a href="?controller=category" class="btn btn-warning" >Quay lại</a>
        </div>
    </form>
</main>
{%endblock%}